.example-warper {
  /* width: 100%;*/ }

.card {
  font-size: 12px; }

.card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
  color: black; }

.card > .content {
  padding: 15px;
  width: 100%;
  color: black; }
