$fontspath: '../../assets/fonts';
$font-normal: 'AvenirNextLT-Regular';
$font-bold: 'AvenirNextLT-Demi';
$font-italic: 'AvenirNextLT-Italic';
$app-bg-color: #f2f2f2;
$content-block-bg-color: #fff;
$header-text-color: #255d63;
$subhead-bg-color: #def6f9;
$subhead-text-color: #0a3039;
$add-button-bg-color: #eeeff0;
$add-button-text-color: #17a2b8;
$write-tab-bg-color: #fff;
$write-label-text-color: #0a3039;
$write-input-border-color: #ccd0d2;
$write-blue-link-color: #44959f;
$write-blue-text-color: #44959f;
$write-short-code-border: #6c8288;
$write-upload-link-color: #fff;
$write-backup-card-bg-color: #eeeff0;
$write-backup-browse-bg-color: #fff;
$disclosure-filter-label-bg-color: #ebebeb;
$disclosure-filter-detail-bg-color: #f5f5f5;
$disclosure-filter-btn-bg-color: #73c0c9;
$disclosure-filter-btn-text-color: #fff;
$disclosure-filter-tag-color: #73c0c9;
$disclosure-search-opt-bg-color: #fff;
$disclosure-search-opt-hover-bg-color: #f2f2f2;
$btn-orange-bg-color: #d98906;
$btn-orange-text-color: #fff;
$btn-orange-font-family: $font-bold;
$review-subsect-bdr-color: #ccd0d2;
$review-header-text-color: #0a3039;
$review-body-text-color: #0a3039;
$review-backup-Link-color: #44959f;
$review-button-bg-color: #73c0c9;
$review-button-text-color: #fff;


